html *, html *::before, html *::after {
  box-sizing: border-box;
}

body, #svelte {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  background: #D3CCE3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
}
body[data-mode="dark"] {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

#svelte {
  display: grid;
  grid-template-rows: 1fr 90% 1fr;
  grid-template-columns: 1fr 90% 1fr;
}
#svelte > * {
  grid-column: 2;
  grid-row: 2;
}
